{% extends 'base.html' %}

{% block content %}
<h3 class='text-center'>Admin Utilities</h3>
<h3>Add Merch:</h3>
<div class="container">
    <form action="" autocomplete="off" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <fieldset>
                {{ form.name.label }}
                {{ form.name(class='form-control', placeholder='Product Name') }}
            </fieldset>
            <fieldset>
                {{ form.price.label }}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    {{ form.price(class='form-control', placeholder='Price') }}
                  </div>
            </span>
            </fieldset>
            <fieldset>
                {{ form.stock.label }}
                {{ form.stock(class='form-control', placeholder='Stock') }}
            </fieldset>
            <fieldset>
                {{ form.description.label }}
                {{ form.description(class='form-control', placeholder='Description') }}
            </fieldset>
            <fieldset>
                {{ form.colors.label }}
                {{ form.colors(class='form-control', placeholder='Colors') }}
            </fieldset>
            <fieldset>
                {{ form.image.label }}
                {{ form.image(class='form-control', placeholder='Image') }}
            </fieldset>
        </div>
        {{ form.submit(class='btn btn-success mt-1') }}
    </form>
</div>

    <div class='container pt-5'>
        <table class="table table-sm table-bordered">
            <thead>
                <th>Serial Number</th>
                <th>Product</th>
                <th>Price</th>
                <th>Image</th>
                <th>Delete</th>
            </thead>
        <tbody>
            {% for p in products %}
            <tr>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td><img src="{{url_for('static', filename='images/' + p.image)}}" alt="{{p.name}}" width="50" height="20"></td>
                <td><a href="{{ url_for('deleteproduct', product_id=p.id) }}" method="post" class="btn btn-danger mt-1">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>








{% endblock content %}