{% extends 'base.html' %}


{% block content %}


<div class='text-center'>
    <div class="card">
        <div class="card-header">
            <b>{{contact.last_name}}, {{contact.first_name}}</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{contact.address}}</li>
          <li class="list-group-item">{{contact.phone_number}}</li>
          <li class="list-group-item">Created by: {{contact.creator.username}}</li>
        </ul>
        <a href="{{ url_for('contact_edit', contact_id=contact.id) }}" class="btn btn-sm btn-success mt-1">Edit</a>
        <a href="{{ url_for('delete_contact', contact_id=contact.id) }}" method="post" class="btn btn-danger mt-1">Delete</a>
      </div>    
</div>


{% endblock %}