{% extends 'base.html'%} 

{% block content %}
    <div class='container mt-5 text-center'>
        <h2>Hi, I'm Jon Dicianni.</h2>
        <h5>Professional Comedian.
        <br>Designs are modern and minimalistic.
        <br>Main source of fuel is Laughter. 
        </h5> 
    </div>
    <div class='mt-5 text-center'>
        <h6>Enjoy!</h6>
        <a href="/videos" class="btn btn-lg btn-primary">Go to videos</a>
    </div>  
    <div>
        <div class="container text-center" style="margin-top: 300px">
            <div class="row">
                <div class="col-3-md">
                    <form id="contact" action="">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                        <input type="text" placeholder="Email Address">
                        <button>✉️</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}